


ul{
   display: flex;  
   justify-content: space-between; 
   list-style-type:none;
   align-items: center;
   padding: 16px;
}

a{
    color: black;
    text-decoration: none;
}

.center{
    text-align:center
}

h1{
    color:rgb(35, 135, 4);
}

footer img {
    width: 30px;
    height: 30px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a {
    margin:10px;
}


.container{
    padding: 0px 50px;
}

body img{
    width: 400px;
    height: 400px;  
}


nav a:hover{
    color: green;
}

p a:hover{
    color: green;
}
.contact div{
    padding: 0px;
}
h3 a:hover{
    color: green;
}

.icone-hover {
    display: none;
}

.apresentacao__links__botao:hover {
    /* background-color: #272727; */
    background-color: #22D4FD;
    .icone-hover {
        display: block;
    }
    .icone{
        display: none;
    }
    color: black;
  }

.projeto .div .center a:hover{
     color:green;
}